.book-data {
    text-align: center;
    padding: 0px 8px 8px 8px;

    ion-label, ion-card-subtitle {
        font-size: 1em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
    }
}

.book-container {
    min-width: 145px;
    max-width: 145px;

    min-height: 220px;
    max-height: 220px;

    ion-img {
        min-width: 113px;
        max-width: 113px;

        max-height: 125px;
        min-height: 125px;
    }

    ion-card-header {
        padding-bottom: 8px;
    }
}